.upc-arc.hov {
    filter: url(#dropshadow);
}

.upc-arc.clk {
    filter: url(#dropshadow);
    stroke: #fff;
    stroke-width: 3px;
}

.upc-con text.tt {
    fill: #777;
    text-anchor: start;
}

.upc-con text.out-lbl {
    text-anchor: middle;
}

.upc-con polyline {
    stroke: #999;
    stroke-width: 1px;
    fill: none;
}